
/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('Designer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Header styles */
header {
    color: #ffffffdc;
    padding: 20px;
    text-align: center;
    position: relative;
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.auth-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    border: 2px solid #37acc7;
    border-radius: 5px;
    color: #37acc7;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.auth-button:hover {
    background-color: #37acc7;
    color: #ffffff;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-links li {
    margin: 0 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Sign-up form styles */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    text-align: left;
    margin-bottom: 10px;
    color: #555;
}

.modal-content input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    padding: 12px 24px;
    background-color: #37acc7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #3199b0;
}

.terms {
    margin-top: 20px;
    color: #777;
}

.terms a {
    color: #37acc7;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #37acc7;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 2px solid #37acc7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    color: #555;
}

input, select, button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #37acc7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3199b0;
}

#map {
    flex: 3;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    color: #333;
}

.sidebar label, .sidebar input, .sidebar select, .sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.sidebar input, .sidebar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sidebar button {
    padding: 10px;
    background-color: #37acc7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #3199b0;
}
